.loaderMainDiv{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(274.63deg, #424271 0%, #2c2c49 100%);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: white;
}


.spinn{
    width: 10rem !important;
    height: 10rem !important;;
}

.spinner-border{
    --bs-spinner-border-width:.5rem !important;

}

.loadertext{
    font-size: 2rem;
}