.crossBtnDiv {
  position: absolute;
  right: 0;
  padding: 0 5%;
}

.boosterPopMainDiv {
  position: fixed;
  color: white;
  width: 90vw;
  height: 45vh;
  padding: 5%;
  z-index: 1;
  /* background-color: #30304d; */
  text-align: center;
  top: 25vh;
  margin: 0 5vw;
  /* background: url("../../assets/Booster/boosterPopBg.svg");
  background-position: center;
  background-size: cover; */
  background: linear-gradient(180deg, #151B21 0%, #060606 100%);
  border: 1px solid #E86F0C;
  box-shadow: 0px -10px 10px 2px rgba(232, 111, 12, 0.5);
  border-radius: 30px;
  
}

.boostMainHead {
  font-size: 3.5vh;
  font-style: normal;
  font-weight: 700;
  /* display: flex; */
  align-items: center;
  color: #ffffff;
}

.boostSubHead {
  font-size: 2vh;
  margin-top: 1%;
}

.boostPurchaseBtn {
  /* position: absolute; */
  width: 70vw;
  height: 7vh;
  border-radius: 30px;
  margin-top: 5%;
}
.boostPurchaseBtn .btn {
  background: url("../../assets/Booster/buyButton.svg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  margin: 0 5vw;
  border-radius: 20px;
}

.boostPopCharge {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  color: #ffffff;
  margin-top: 5%;
  font-size: 3vh;
}

.boostPopImg {
  margin-top: -20%;
}

.boostPopImg img{
    max-width: 25%;
}

.boostHeads{
    margin-top: 5%;
}

.boosterMainDiv.blur {
  filter: blur(5px);
  pointer-events: none;
}

.boostPower {
  margin-top: 5%;
  font-size: 2.2vh;
}

.boosterPopMainDiv.effect {
  animation: purchaseEffect 2s forwards;
}

@keyframes purchaseEffect {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
