.boosterMainDiv {
  padding-bottom: 20%;
  height: 100%;
}

.balanceInfo p {
  color: #ffffff;
  opacity: 0.5;
  margin: 0;
  padding: 0;
}

.balanceInfo {
  text-align: center;
}

.FreeBoosterMainDiv {
  color: white;
}

.booster {
  padding: 2%;
  margin: auto;
  width: 95vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background: #11111e;
  border-radius: 16px;
  align-items: center;
}
.boosterLeft {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.boosterHeading {
  display: flex;
  flex-flow: column;
}
.boosterHeading p {
  padding: 0;
  margin: 0;
}

.boosterRightColArrow img {
  width: 50%;
}

.boosterName {
  font-size: 2.2vh;
}
.boosterAvail {
  font-size: 1.8vh;
}
.boosterCoin {
  font-size: 6vh;
  font-weight: 700;
  opacity: 1 !important;
}

.UpgradeBoosterMainDiv {
  color: #fff;
}
