

.treasureIcon{
    width: 70%;
}

.airdropTask{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding-bottom: 40%;
    height: 100%;
}