.tonMainDiv{
    margin-top: 10%;
}
.toncircle .tonCircleBg{
    width: 75%;
}

.tonScroller{
    position: absolute;
    top:0;
}

.tonScroller img{
    width: 70%;
    margin: 2.5%;
}

.tonKnowk{
    position: absolute;
    left: 48%;
    width: 5%;
}

.toncircle{
    position: relative;
}