
.treasureIcon{
    width: 70%;
}

.earnMainDiv{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.earnHeadings{
    margin: 0 5%;
}