/* .bottomNavBar {
  position: fixed;
  bottom: 10px;
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  background: #670e0c;
  padding: 10px 0 0 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 35px;
  margin: 0 10px;
}

.bottomNavBar a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  width: 20%;
}

.bottomNavItem {
  background: rgba(233, 91, 16, 0.5);
  border-radius: 15px;
}

.bottomNavBar a.active {
  font-weight: bold;
  border-top: 2px solid #ffffff;
}

.bottomNavItem img {
  width: 25px;
  height: 25px;
}

.bottomNavP {
  margin: 10px 0;
} */

/* for next one footer */

.footerMainDiv {
  width: 100vw;
  /* background: black; */
  position: fixed;
  bottom: 0px;
  height: 10vh;
}

.footerDiv {
  /* background: url(/src/assets/footerBg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  background: #272A2F;
  width: 96vw;
  height: 10vh;
  position: fixed;
  bottom: 2px;
  margin: 0 2vw;
  border-radius: 25px;
  padding: 2.5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.footerDiv .active .footerButton {
  background: url("../assets/footerActive.svg");
  background-position: center;
  background-size: auto;
  border: 0;
}

.footerMainDiv a {
  width: 19%;
  text-decoration: none;
}

.footerButton {
  height: 8vh;
  width: 100%;
  /* background: url("../assets/footerButton.svg"); */
  background: #1C1F24;
  border-radius: 15px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid #fff; */
  border: none;
}

.footerButtonHeading {
  font-size: 75%;
  color: #fff;
  font-weight: 800;
}
.footerButtonImg {
  margin-top: -60%;
}

.footerButtonImg img{
  width: 100%;
}