.earnOptionDiv{
    background: linear-gradient(180deg, #151B21 0%, #060606 100%);
    box-shadow: 0px -3px 4px #E86F0C;
    border-radius: 18px;
    padding: 2%;
    width: 90vw;
    height: 9vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
}

.activeEarnOption{
    background: url("../../assets/Earn/activeOption.svg");
}


.inActiveEarnOption{
    background: url("../../assets/Earn/inactiveOption.svg");
}

.earnoptionDivMenu{
    background-size: cover;
    background-position: center;
    width: 35vw;
    height: 7vh;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}



























.treasureIcon{
    width: 70%;
}

.earnMainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding-bottom: 40%;
    height: 100%;
}

.earnHeadings{
    margin: 0 5%;
}


