body {
  /* background: radial-gradient(
    49.72% 36.83% at 50% 69.24%,
    #a7f933 0%,
    #009340 100%
  ); */
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow: hidden;
  height: 100vh;
  /* background: url("./assets//bg.svg"); */
  background: url("./assets/normalBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.orgImg {
  width: 100vw;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
}

.coinDiv {
  display: flex;
  flex-flow: column wrap;
  /* justify-content: center; */
  align-items: center;
  height: 90vh;
  position: relative;
}

.rs {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  pointer-events: none; /* Ensure it doesn't block further clicks */
  color: white;
}

/* for Mobile */

@media only screen and (max-width: 600px) {
  .coin {
    width: 80%;
  }
  .rs {
    font-size: 30px;
  }
  .coinDiv {
    /* height: 85vh; */
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 20vh;
  }
}

/* coin css */

.coin {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 70%;
  top: 0;
  height: 250px;
  width: 250px;
  cursor: pointer;
  margin: auto;
  width: 0;
  cursor: pointer;
}

/* .coin:active{
  transform: translateY(4px);
} */

.coin .front {
  position: absolute;
  height: 250px;
  width: 250px;
  background: #ffbd0b;
  border-radius: 50%;
  border-top: 7px solid #ffd84c;
  border-left: 7px solid #ffd84c;
  border-right: 7px solid #d57e08;
  border-bottom: 7px solid #d57e08;
  transform: rotate(44deg);
}
.coin .front:before {
  content: "";
  margin: 35.5px 35.5px;
  position: absolute;
  width: 170px;
  height: 170px;
  background: #f0a608;
  border-radius: 50%;
  border-bottom: 5px solid #ffd84c;
  border-right: 5px solid #ffd84c;
  border-left: 5px solid #d57e08;
  border-top: 5px solid #d57e08;
  z-index: 2;
}

.coin .front .currency {
  overflow: hidden;
  position: absolute;
  color: #ffbd0b;
  font-size: 70px;
  transform: rotate(-44deg);
  line-height: 3.7;
  width: 100%;
  height: 100%;
  text-align: center;
  text-shadow: 0 3px 0 #cb7407;
  z-index: 3;
  border-radius: 50%;
}
.coin .front .currency:after {
  content: "";
  position: absolute;
  height: 200px;
  width: 40px;
  margin: 20px -65px;
  /* box-shadow: 50px -23px 0 -10px rgba(255, 255, 255, 0.22),
    85px -10px 0 -16px rgba(255, 255, 255, 0.19); */
  transform: rotate(-50deg);
  animation: shine 1.5s infinite ease;
}
@keyframes shine {
  0% {
    margin: 20px -65px;
  }
  50% {
    margin: 70px -85px;
  }
  100% {
    margin: 20px -65px;
  }
}
.coin .front .shapes {
  transform: rotate(-44deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.coin .front .shapes div {
  width: 20px;
  height: 4px;
  background: #d57e08;
  border-top: 2px solid #c47207;
  margin: 50% 7px;
}
.coin .front .shapes div:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background: #d57e08;
  border-top: 2px solid #c47207;
  margin: -10px 0;
}
.coin .front .shapes div:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background: #d57e08;
  border-top: 2px solid #c47207;
  margin: 8px 0;
}
.coin .front .shape_l {
  float: left;
}
.coin .front .shape_r {
  float: right;
}
.coin .front .top {
  font-size: 30px;
  color: #d67f08;
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
}
.coin .front .bottom {
  font-size: 30px;
  color: #d67f08;
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.coinTest {
  /* width: 15rem;
  height: 15rem; */
  /* width: 40vw; */
  height: 30vh;
  border-radius: 30%;
  margin-top: 15%;
  position: relative;
  z-index: 2;
}
/* box-shadow: 0px 10px 20px 20px rgba(0,0,0,0.17);
transform-style: preserve-3d;
display: inline-block;
padding: 30px 35px;
perspective: 1800px;
text-align: left;
transform-origin: 50% 50%;
transform: rotateX(11deg) rotateY(16.5deg); */

.totalCoins {
  font-family: "Poppins";
  font-style: normal;
  margin-top: 5%;
  letter-spacing: 0.05em;
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
}

.progressBar {
  width: 80dvw;
  position: absolute;
  bottom: 20%;
}

.progress {
  background: #27292c;
  border: 1px solid #45494b;
  border-radius: 25px !important;
}

.progress-bar {
  background: linear-gradient(90deg, #b3a7a3 0%, #e8831b 79.08%, #ffffff 100%);
  border-radius: 25px;
}

.progressText {
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
}

.points {
  color: #ff7c00;
  font-weight: 500;
}

.test {
  z-index: 128123791837612;
}

.pageNeedMake {
  color: white;
  text-align: center;
  font-size: 10vw;
  height: 70vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
