html {
  touch-action: manipulation;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}


/* hiding header in mobile device */
.modal-header{
  display: none !important;
}

body {
  margin: 0;
  padding: 0;
  height: 100% !important;
  min-height: 100vh !important;
  background: url("./assets/normalBg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

p{
  margin-bottom: 0 !important;
}

.orgImg {
  width: 120vw;
  position: absolute;
  top: 15%;
  left: -10%;
  right: 0;
}

.coinDiv {
  display: flex;
  flex-flow: column wrap;
  /* justify-content: center; */
  align-items: center;
  height: 90vh;
  position: relative;
}

.rs {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  pointer-events: none; /* Ensure it doesn't block further clicks */
  color: white;
  z-index: 10;
}

/* for Mobile */

@media only screen and (max-width: 600px) {
  .coin {
    width: 70%;
  }
  .rs {
    font-size: 30px;
  }
  .coinDiv {
    /* height: 85vh; */
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    top: 13vh;
    /* transform: translateY(-50px); */
  }
}

/* coin css */

.coin {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 70%;
  top: 0;
  height: 250px;
  width: 250px;
  cursor: pointer;
  margin: auto;
  width: 0;
  cursor: pointer;
}



/* .coin:active{
  transform: translateY(4px);
} */

.coin .front {
  position: absolute;
  height: 250px;
  width: 250px;
  background: #ffbd0b;
  border-radius: 50%;
  border-top: 7px solid #ffd84c;
  border-left: 7px solid #ffd84c;
  border-right: 7px solid #d57e08;
  border-bottom: 7px solid #d57e08;
  transform: rotate(44deg);
}
.coin .front:before {
  content: "";
  margin: 35.5px 35.5px;
  position: absolute;
  width: 170px;
  height: 170px;
  background: #f0a608;
  border-radius: 50%;
  border-bottom: 5px solid #ffd84c;
  border-right: 5px solid #ffd84c;
  border-left: 5px solid #d57e08;
  border-top: 5px solid #d57e08;
  z-index: 2;
}

.coin .front .currency {
  overflow: hidden;
  position: absolute;
  color: #ffbd0b;
  font-size: 70px;
  transform: rotate(-44deg);
  line-height: 3.7;
  width: 100%;
  height: 100%;
  text-align: center;
  text-shadow: 0 3px 0 #cb7407;
  z-index: 3;
  border-radius: 50%;
}
.coin .front .currency:after {
  content: "";
  position: absolute;
  height: 200px;
  width: 40px;
  margin: 20px -65px;
  /* box-shadow: 50px -23px 0 -10px rgba(255, 255, 255, 0.22),
    85px -10px 0 -16px rgba(255, 255, 255, 0.19); */
  transform: rotate(-50deg);
  animation: shine 1.5s infinite ease;
}
@keyframes shine {
  0% {
    margin: 20px -65px;
  }
  50% {
    margin: 70px -85px;
  }
  100% {
    margin: 20px -65px;
  }
}
.coin .front .shapes {
  transform: rotate(-44deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.coin .front .shapes div {
  width: 20px;
  height: 4px;
  background: #d57e08;
  border-top: 2px solid #c47207;
  margin: 50% 7px;
}
.coin .front .shapes div:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background: #d57e08;
  border-top: 2px solid #c47207;
  margin: -10px 0;
}
.coin .front .shapes div:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background: #d57e08;
  border-top: 2px solid #c47207;
  margin: 8px 0;
}
.coin .front .shape_l {
  float: left;
}
.coin .front .shape_r {
  float: right;
}
.coin .front .top {
  font-size: 30px;
  color: #d67f08;
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
}
.coin .front .bottom {
  font-size: 30px;
  color: #d67f08;
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.coinTest {
  /* width: 15rem;
  height: 15rem; */
  width: 70vw; 
  height: 25vh;
  border-radius: 50%;
  /* margin-top: 15%; */
  margin-top: 5%;
  position: relative;
  z-index: 2;
}


.charAnim{
  height: 40vh;
  position: relative;
  z-index: 2;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}



/* box-shadow: 0px 10px 20px 20px rgba(0,0,0,0.17);
transform-style: preserve-3d;
display: inline-block;
padding: 30px 35px;
perspective: 1800px;
text-align: left;
transform-origin: 50% 50%;
transform: rotateX(11deg) rotateY(16.5deg); */

.totalCoins {
  font-family: "Poppins";
  font-style: normal;
  margin-top: 5%;
  letter-spacing: 0.05em;
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  z-index: 1;
}

.progressBar {
  width: 85dvw;
  position: absolute;
  bottom: 18%;
}

.progress {
  background: #27292c !important;
  border: 1px solid #45494b !important;
  border-radius: 25px !important;
  --bs-progress-bar-color:#27292c !important;
}

.progress-bar {
  background: linear-gradient(90deg, #a42a00 0%, #e8831b 79.08%, #ffffff 100%) !important;
  border-radius: 25px !important;
}


.progressRank{
  font-weight: 700;
}


.progressText {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  color: white;
  font-weight: 600;
}

.points {
  color: #ff7c00;
  font-weight: 500;
}

.test {
  z-index: 128123791837612;
}

.pageNeedMake {
  color: white;
  text-align: center;
  font-size: 10vw;
  height: 70vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}


.Progressicon{
  display: flex;
}

/* Контейнер для строки статуса */
.mineStatus {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  top: -5%; /* Поднимает строку выше на странице */
}

/* Цвет для online/offline */
.statusOnline {
  color: #00c853; /* Зеленый цвет для статуса online */
}

.statusOffline {
  color: #ff1744; /* Красный цвет для статуса offline */
}

.startMiningButton {
  background-color: #2afc0a; /* Зеленый цвет для кнопки */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  position: relative;
  top: 0px; /* Поднимаем кнопку на 50 пикселей */
}

.startMiningButton:hover {
  background-color: #40eb07;
}
