.coinInfoMainDiv {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100vw;
  margin-top: 6%;
  z-index: 1;
}

.tonCoins,
.goldCoins {
  display: flex;
  flex-flow: column;
  /* background: linear-gradient(274.63deg, #42427175 0%, #2c2c4917 100%); */
  /* mix-blend-mode: color-dodge; */
  /* background: url("../../assets/coinInfoBg.png"); */
  /* mix-blend-mode: color-dodge; */
  /* background: url("../../assets/coinInfo.png"); */
  background: linear-gradient(
    88.76deg,
    rgba(44, 45, 61, 0.25) 0.24%,
    rgba(87, 99, 206, 0.25) 99.54%
  );
  mix-blend-mode: normal;
  border-radius: 16px;
  width: 45vw;
  text-align: center;
  padding: 2% 0;
}

.noOfCoins,
.noOfGoldCoins {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.tonHeading,
.goldHeading {
  color: #f3ba2f;
  font-weight: 600;
}

.tonAmount,
.goldAmount {
  color: #fff;
  margin-left: 3%;
  font-weight: 600;
}
